@using iSportsRecruiting.Client.Shared
@using iSportsRecruiting.Client.Pages.Public.Components;

@page "/about-us"

@layout PublicLayout

<AppBar />
<style>
    body {
        background-color: #ffffff !important;
    }
</style>
<MudHidden Invert="true" Breakpoint="Breakpoint.MdAndUp">
    <MudGrid Style="padding-left: 6%; padding-right: 6%;background-color: white; font-family: impact, sans-serif; text-align: center; color: black">
        <MudItem sm="3">
            <span style="display: inline-block; height: 21%; vertical-align: middle"></span>
            <img border="0" style="vertical-align: middle; display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;" width="600" alt="" data-proportionally-constrained="true" data-responsive="true"
                 src="https://i.imgur.com/mF56xD5.jpg">
        </MudItem>

        <MudItem sm="6">
            <br />
            <br />
            <br />
            <span style="font-size: 40px;">OUR MISSION</span>
            <MudText Style="font-size: 24px" Align="Align.Center">
                Every athlete has a vision of playing at the next level, we at iSportsRecruiting want to not only assist your student-athlete with reaching their collegiate aspirations but also assist them with an individualized profile.
                We believe in marketing our student-athletes for realistic goals. We choose to develop a growth plan for each athlete and continue to offer the resources for each to be successful on their recruiting journey.
                “Creating collegiate opportunities through collaboration.” ISR works closely with all student-athletes. We offer top recruiting tools such as academic and athletic evaluations, along with video highlights, live game coverage, and updating profiles as needed. We also believe in ongoing communication.
                <br />
                We feel that with better communication we can achieve faster results, timely updates, and winning outcomes for each of our recruits.
            </MudText>

            <br />
            <br />
            <span style="font-size: 40px;">HIGH SCHOOLS ATHLETES</span>
            <MudText Style="font-size: 24px" Align="Align.Center">
                The most important part of the recruiting process is to get your name in front of college coaches. However, before that step, they are many factors in this process, if you as a student-athlete are looking to get any type of athletics scholarship you need to consider this.
                <br /><br />Grades; is a key factor for the recruiting process, when it comes to getting considered to win a spot for scholarship coaches will have stronger consideration for the athlete that presents a higher GPA.
                <br /><br />Stay Active; high schools athletes need to consider starting this process as soon as freshman/sophomore year, the more college coaches get to know you the more chances you will have. Building a reputation is a must, having an online profile will multiply your opportunities.
                <br /><br />Highlight videos; All student-athletes have to have highlight videos, DII-DIII-NAIA and NJCAA don’t have masses recruiting budget to track athletes, therefore is extremely important to have videos no longer than 3min.
                <br /><br />Register with the NCAA Eligibility Center; Meet the requirement on order to play at the DI and DII Schools.
                <br /><br />Keep in main this division DII-DIII-NAIA-NJCAA; 85% of scholarships possibilities are with in these divisions.
            </MudText>
        </MudItem>

        <MudItem sm="3">
            <span style="display: inline-block; height: 21%; vertical-align: middle"></span>
            <img border="0" style="vertical-align: middle; display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px; max-width:100% !important; width:100%; height:auto !important;" width="600" alt="" data-proportionally-constrained="true" data-responsive="true"
                 src="https://i.imgur.com/aGYfA7Y.png">
        </MudItem>

    </MudGrid>
</MudHidden>

<MudHidden Invert="true" Breakpoint="Breakpoint.SmAndDown">
    <div style="padding-left: 6%; padding-right: 6%; background-color: white; font-family: impact, sans-serif; text-align: center; color: black">
        <br />
        <br />
        <br />
        <span style="font-size: 40px;">OUR MISSION</span>
        <MudText Style="font-size: 24px" Align="Align.Center">
            Every athlete has a vision of playing at the next level, we at iSportsRecruiting want to not only assist your student-athlete with reaching their collegiate aspirations but also assist them with an individualized profile.
            We believe in marketing our student-athletes for realistic goals. We choose to develop a growth plan for each athlete and continue to offer the resources for each to be successful on their recruiting journey.
            “Creating collegiate opportunities through collaboration.” ISR works closely with all student-athletes. We offer top recruiting tools such as academic and athletic evaluations, along with video highlights, live game coverage, and updating profiles as needed. We also believe in ongoing communication.
            <br />
            We feel that with better communication we can achieve faster results, timely updates, and winning outcomes for each of our recruits.
        </MudText>

        <br />
        <br />
        <span style="font-size: 40px;">HIGH SCHOOLS ATHLETES</span>
        <MudText Style="font-size: 24px" Align="Align.Center">
            The most important part of the recruiting process is to get your name in front of college coaches. However, before that step, they are many factors in this process, if you as a student-athlete are looking to get any type of athletics scholarship you need to consider this.
            <br /><br />Grades; is a key factor for the recruiting process, when it comes to getting considered to win a spot for scholarship coaches will have stronger consideration for the athlete that presents a higher GPA.
            <br /><br />Stay Active; high schools athletes need to consider starting this process as soon as freshman/sophomore year, the more college coaches get to know you the more chances you will have. Building a reputation is a must, having an online profile will multiply your opportunities.
            <br /><br />Highlight videos; All student-athletes have to have highlight videos, DII-DIII-NAIA and NJCAA don’t have masses recruiting budget to track athletes, therefore is extremely important to have videos no longer than 3min.
            <br /><br />Register with the NCAA Eligibility Center; Meet the requirement on order to play at the DI and DII Schools.
            <br /><br />Keep in main this division DII-DIII-NAIA-NJCAA; 85% of scholarships possibilities are with in these divisions.
        </MudText>
    </div>
</MudHidden>
