@page "/termsnconditions"
@page "/privacy"

@using iSportsRecruiting.Client.Shared
@using iSportsRecruiting.Client.Pages.Public.Components

@layout PublicLayout

@inject NavigationManager _navigationManager


<AppBar />
<style>
    body {
        background-color: #ffffff !important;
    }
</style>

<div style="padding:110px;">
    <MudGrid>
        <MudItem sm="12">
            <MudText Typo="Typo.h4" Align="Align.Center"><b>TERMS AND CONDITIONS</b></MudText>
        </MudItem>
        <MudItem sm="12" Style="height:40px" />

        <MudItem sm="12">
            <p class=MsoNormal style='margin-top:11.25pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:18.0pt;mso-outline-level:3;'>
                <b>
                    <span lang=EN-US style='font-size:16.5pt;font-family:"Open Sans",sans-serif;
mso-fareast-font-family:"Times New Roman";color:black'>Our Company­­­­­­­­­­­­­<o:p></o:p></span>
                </b>
            </p>

            <p class=MsoNormal style='margin-top:11.25pt;margin-right:0cm;margin-bottom:
11.25pt;margin-left:0cm;line-height:21.0pt;'>
                <span lang=EN-US
                      style='font-size:15.0pt;font-family:"Open Sans",sans-serif;mso-fareast-font-family:
"Times New Roman";color:black'>
                    Thank you for choosing the ISPORTSRECRUITING
                    website (the &quot;website&quot;). This Website is owned and operated by
                    ISPORTSRECRUITING, LLC., an Arizona LLC based in Scottsdale, Arizona. The
                    following terms and conditions contain important information regarding the
                    rights and obligations of both you the user and ISPORTSRECRUITING (also herein
                    referred to as &quot;we&quot; or &quot;the company&quot;). Please read them
                    carefully before beginning to use the website. By using this <span class=GramE>website</span>
                    you are agreeing to be bound by the ISPORTSRECRUITING, LLC TERMS AND CONDITIONS
                    OF WEBSITE USE and the ISPORTSRECRUITING, LLC PRIVACY POLICY (collectively, the
                    &quot;Terms and Conditions&quot;).<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal><span lang=EN-US><o:p>&nbsp;</o:p></span></p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Our
                    products and services<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    ISPORTSRECRUITING, LLC
                    offers 4 plans (P1, P2, P3 and All American) which our users may enroll in. the
                    features of each plan are as follows:<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    P1- $ 1,999.00 (One Time
                    Payment)<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    User and ISPORTSRECRUITING, LLC,
                    collaborate to create content and materials to add to the user’s account.
                </span><span lang=EN-US style='font-size:11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    60 minutes per month coaching by
                    ISPORTSRECRUITING, LLC.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Every two (2) months a blast email
                    is send to every user qualifies for. The blast email will not be sent until
                    after the second monthly payment has been made and 90% of profile completion.
                    When user get a Scholarship offer and decide to except it before the completion
                    of the subscription any outstanding balance will immediately be due.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Save Universities by FAVORITE
                    SELECCION, GRADES POINT AVERAGE and MAJORS. <span style='mso-spacerun:yes'> </span><o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    P2- ($2,499.00) (Six
                    Time Payments of $416.00)<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    User and ISPORTSRECRUITING, LLC,
                    collaborate to create content and materials to add to the user’s account.
                </span><span lang=EN-US style='font-size:11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    60 minutes per month coaching by
                    ISPORTSRECRUITING, LLC.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Every two (2) months a blast email
                    is send to every user qualifies for. The blast email will not be sent until
                    after the second monthly payment has been made and 90% of profile completion.
                    When user get a Scholarship offer and decide to except it before the completion
                    of the subscription any outstanding balance will immediately be due.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Save Universities by FAVORITE
                    SELECCION, GRADES POINT AVERAGE and MAJORS.<span style='mso-spacerun:yes'>
                    </span><o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    P3- ($2,799.00) (Ten
                    Time Payments of $279.00)<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    User and ISPORTSRECRUITING, LLC,
                    collaborate to create content and materials to add to the user’s account.
                </span><span lang=EN-US style='font-size:11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    60 minutes per month coaching by
                    ISPORTSRECRUITING, LLC.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Every two (2) months a blast email
                    is send to every user qualifies for. The blast email will not be sent until
                    after the second monthly payment has been made and 90% of profile completion.
                    When user get a Scholarship offer and decide to except it before the completion
                    of the subscription any outstanding balance will immediately be due.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Save Universities by FAVORITE
                    SELECCION, GRADES POINT AVERAGE and MAJORS.<span style='mso-spacerun:yes'>
                    </span><o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l6 level1 lfo3;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>Unlimited Videos uploads <o:p></o:p></span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    P4- All American ($199.00)
                    Yearly Plan <o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l2 level1 lfo4;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    &nbsp;User and ISPORTSRECRUITING,
                    LLC, collaborate to create content and materials to add to the user’s account.
                </span><span lang=EN-US style='font-size:11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l2 level1 lfo4;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    &nbsp;One time 30 minutes coaching
                    by ISPORTSRECRUITING, LLC.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l2 level1 lfo4;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Save FIFTY (50) Universities by
                    FAVORITE SELECCION, GRADES POINT AVERAGE and MAJORS.<span style='mso-spacerun:yes'>  </span><o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l2 level1 lfo4;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>Access to TWO Videos <o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l2 level1 lfo4;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>Access to DIRECT Emails <o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:22.5pt;'>
                <span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>Our Company<o:p></o:p></span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Thank you for choosing
                    the ISPORTSRECRUITING website (the &quot;website&quot;). This Website is owned
                    and operated by ISPORTSRECRUITING, LLC., an Arizona LLC based in Scottsdale,
                    Arizona. The following terms and conditions contain important information regarding
                    the rights and obligations of both you the user and ISPORTSRECRUITING (also
                    herein referred to as &quot;we&quot; or &quot;the company&quot;). Please read
                    them carefully before beginning to use the website. By using this <span class=GramE>website</span> you are agreeing to be bound by the ISPORTSRECRUITING,
                    LLC TERMS AND CONDITIONS OF WEBSITE USE and the ISPORTSRECRUITING, LLC PRIVACY
                    POLICY (collectively, the &quot;Terms and Conditions&quot;).<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    PLANS may be cancelled
                    at any time. If <span class=SpellE><span class=GramE>a</span></span> account
                    holder has made their third monthly payment and a blast email has been sent out
                    on their behalf there is no refund of payments made. The user will continue to
                    have access until the end of the month they have paid for and they will not be
                    charged for the next month. If a Plan account holder has not made their third
                    monthly payment and no blast email has been sent on their behalf.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Refund/Return
                    Policy<o:p></o:p>
                </span>
            </h3>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:22.5pt;'>
                <span lang=EN-US style='font-size:15.0pt;
font-family:"Open Sans",sans-serif;color:black'>
                    If you cancel with time left in
                    your billing period, we'll let you use our system until the end if the billing
                    day.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Plans may be cancelled
                    at any time. No refund of any payments made will be Applicable.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Shipping/Delivery
                    Information – “Not Applicable”.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Privacy
                    Policy<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Your privacy is of the
                    utmost importance to our company. We have developed and published on our
                    website a separate privacy policy which states your rights and our
                    responsibilities regarding the information you provide. Please read and review
                    our privacy policy.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Changes
                    to website and Terms and Conditions<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    ISPORTSRECRUITING, LLC
                    will strive to create and maintain the leading collegiate recruiting website in
                    the United States. From time to <span class=GramE>time</span> we may need to
                    change, alter, suspend or discontinue an aspect or feature of our website,
                    including but not limited to the content, availability and computer
                    software/equipment, and we reserve the right to do so.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    From time to time we may
                    also need to change or modify the Terms and Conditions in part or in whole, and
                    we reserve the right to do so. We will notify you of any changes to the Terms
                    and Conditions by sending you an email to the email address we have on file and/or
                    publishing the changes that have been made to the website. All changes will
                    take effect 30 days after they have been published to the website. Continued
                    use of the website by you will constitute an acceptance of the updated Terms
                    and Conditions.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Users must
                    be at least 13 years of age<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    All users of the website
                    must be at least 13 years of age. By using the website, you agree that you are
                    at least 13 years of age. If you are not 13 years of <span class=GramE>age</span>
                    please do not use this website and ask your parents to contact us to find out
                    your options.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Our company agrees that
                    protecting the private information of children under 13 is of the utmost
                    importance, therefore we do not design the website to be used by children under
                    13, we do not collect any information from a user we know to be under 13, and
                    we delete any information that has been submitted to us by a child under age 13
                    as soon as we discover that such information has been submitted to us. Any
                    information that has been submitted to us by a child under 13 will not be used
                    for any purpose and will be deleted.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Your
                    User Account<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    In order to receive the
                    services provided by our company and the website you will be required to create
                    a user account. At the time of creation of your user account you will select a
                    unique username and password. Your username may not be inappropriate. The
                    determination of inappropriateness of a username is reserved to the company.
                    Any username deemed inappropriate will be suspended and an appropriate username
                    must be substituted. It is your responsibility to keep your username and
                    password confidential and you are solely responsible for any activities which
                    may occur under your user account whether the activities were authorized by you
                    or not. Anytime you find that there has been an unauthorized use of your user
                    account you must notify us immediately.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    At the time of creation
                    of your user account you may be asked to provide our company with personal and
                    private information including, but not limited to, your name, email address,
                    physical address and telephone number. All information gathered by our company
                    from you, or any third party will be protected under the terms of our published
                    privacy policy.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    It is your
                    responsibility to keep the information provided to us up to date.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Prohibited
                    uses of our website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    By accessing and using
                    our website you agree that you will not:<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Use our website to engage in or
                    perpetuate any illegal or criminal activity;
                </span><span lang=EN-US
                             style='font-size:11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:
"Times New Roman";color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Use the website for any other use
                    than for the personal use of the user account owner;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Attempt to or actually obtain any of
                    the materials provided to users by any means not provided by the website;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Attempt to or actually interfere
                    with, or in any way disrupt, the security of our website;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Enclose the entire website, or any
                    portion of it, utilizing framing techniques;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Attempt to or actually disrupt any
                    functionality or operation of the website<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Impersonate another person or act as
                    a fictitious person, also known as Catfishing;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Distribute any inappropriate
                    materials by means of the website. This includes, but is not limited to,
                    publishing, sharing, and posting any material which is unlawful, harassing,
                    defamatory, libelous, obscene, threatening, tortious, or invasive of another's
                    privacy;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Upload or cause to be transmitted
                    any computer virus to the website including but not limited to spam and junk
                    emails;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Attempt to or actually solicit
                    business using the website;<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l0 level1 lfo6;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    Publish, share, post or otherwise
                    make content available that is protected by a legal copyright, patent,
                    trademark or any other legal property right.<o:p></o:p>
                </span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Materials
                    submitted to the website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Through the website you may
                    publish, share, post or otherwise make content and materials available to third
                    parties. You are solely responsible for any materials made available to third
                    parties and you are solely responsible for any legal consequences of making
                    those materials available.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    By publishing, sharing,
                    posting, or otherwise making content and materials available through the
                    website you represent and warrant that you are the rightful legal owner of the
                    entire right, title and interest in your content and materials, including but
                    not limited to the legal copyright, patent, trademark or any other legal
                    property right (the &quot;rights&quot;). You further warrant that the content
                    and materials you make available are original, have not been copied in whole or
                    in part, and do not violate, infringe upon or misappropriate the rights of a
                    rightful owner of the content and materials. If you are not the rightful owner
                    of the entire legal right in your content and materials you must have
                    sufficient rights granted to you to use the material memorialized by a written
                    agreement with the rightful owner of the right.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal>
                <span lang=EN-US style='font-size:15.0pt;font-family:"Open Sans",sans-serif;
mso-fareast-font-family:"Times New Roman";color:black;'>
                    You
                    hereby grant to ISPORTSRECRUITING, LLC and its attorneys, agents,
                    administrators, representatives, predecessors, affiliates, successors, parents,
                    subsidiaries, nominees, executors, assigns, licensees, media outlets/partners
                    and those acting with authority of the foregoing(collectively,
                    &quot;ISPORTSRECRUITING, LLC Parties&quot;), a non-exclusive, worldwide,
                    perpetual, transferable, irrevocable, royalty-free, and sublicensable right and
                    license to use, reproduce, share, excerpt, prepare derivative works of, distribute,
                    archive, publicly display and perform, route, host, cache, store, crawl,
                    transmit, reformat, edit, index, create algorithms based on, modify and/or
                    transcode such content and materials, in any and all formats and through any
                    and all means and channels, including without limitation through downloading
                    and streaming technologies, on the Internet, in advertisements and
                    publications, in kits distributed to the media and at scouting/recruiting
                    events. You further hereby irrevocably consent and allow the ISPORTSRECRUITING,
                    LLC Parties to use and share the name(s), voice(s), appearance(s), features,
                    characteristics, persona(s), biographical information, likeness(es), form(s)
                    and/or image(s) of, as well as any statement(s) attributed to or made by you,
                    all identifiable individual(s) depicted and/or described in such content and
                    materials (collectively &quot;Names and Likenesses&quot;). You also hereby
                    irrevocably waive as against the ISPORTSRECRUITING, LLC Parties all moral
                    rights and rights of restraint in such content and materials.
                </span><span lang=EN-US style='font-family:"Times New Roman",serif;mso-fareast-font-family:
"Times New Roman"'><o:p></o:p></span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    You hereby fully and
                    completely hold harmless, release, agree to defend and indemnify, and forever
                    discharge the ISPORTSRECRUITING, LLC Parties from any and all claims,
                    liabilities demands, actions, suits, causes of action and damages (including
                    costs, expenses and attorneys' fees), that you, or any third party, shall or
                    may have arising out of or in connection with the use of such content and
                    materials and/or Names and Likenesses as provided herein. The license, consent
                    and release herein <span class=GramE>is</span> binding upon you and your heirs,
                    executors, administrators, successors, licensees and assigns.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    You acknowledge that
                    ISPORTSRECRUITING, LLC reserves the right to display advertisements in
                    connection such content and materials, to display such content and materials
                    with similar materials from other users and to use such content and materials
                    for marketing, promotional and advertising purposes. You further acknowledge
                    that ISPORTSRECRUITING, LLC has the right, in our sole discretion, to
                    prescreen, pre-approve, refuse and/or remove from our website, without prior
                    notice, any content and materials, including without limitation content and
                    materials that violate the Terms and Conditions.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    If you have any comments
                    or questions regarding content or materials on our website, please contact
                    ISPORTSRECRUITING, LLC using the contact information found at the end of the
                    Terms and Conditions. If you believe in good faith that any content or
                    materials on our website violate your copyright, please contact us as provided
                    in the following section of the Terms and Conditions.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    The
                    Digital Millennium Copyright Act (DMCA) and Copyright Infringement<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    At ISPORTSRECRUITING,
                    LLC we respect the proprietary rights of the owners of copyrighted materials.
                    We are familiar with the DMCA and use its proven process for handling a
                    copyright infringement complaint. If you believe that a copyright owned by you
                    has been infringed <span class=GramE>upon</span> please follow the DMCA
                    approved process for notifying an online service provider that your copyright
                    has been infringed upon. Upon receiving the DMCA notification we will remove
                    any content or materials identified in the notification. After removing the
                    content and materials we will contact the user who submitted the content or
                    materials covered by the DMCA notification so that they may submit a
                    counternotification if they so choose. If we receive a counternotification we
                    will generally restore the content or materials to their pre DMCA notification
                    status until we are notified that a legal action has commenced which seeks to
                    estop the user from using the allegedly infringing copyrighted materials, upon
                    which time we will generally remove the content or materials again.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    If you believe that your
                    copyright has been infringed upon by a user on ISPORTSRECRUITING, LLC please notify
                    us in writing pursuant to the DMCA as provided in 17 U.S.C. 512.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    If you believe that your
                    content and materials were improperly removed from the <span class=GramE>website</span>
                    please notify us in writing pursuant to the DMCA as provided in 17 U.S.C. 512.<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal>
                <span lang=EN-US style='font-size:15.0pt;font-family:"Open Sans",sans-serif;
mso-fareast-font-family:"Times New Roman";color:black;'>
                    ISPORTSRECRUITING,
                    LLC will act in accordance with the provisions of the DMCA and remove or
                    restore content as required under the law.
                </span><span lang=EN-US
                             style='font-family:"Times New Roman",serif;mso-fareast-font-family:"Times New Roman"'><o:p></o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Our
                    intellectual property<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Your use of the website
                    gives you no ownership rights in any of the intellectual property of
                    ISPORTSRECRUITING, LLC. All text, graphics, photographs, videos, user
                    interfaces, trademarks, logos, taglines, animations, sounds, and music
                    contained on, or comprising, our website, including without limitation the
                    design, structure, selection, organization, compilation, display, arrangement,
                    expression and &quot;look and feel&quot; of our website, and the software
                    comprising and/or embodying the foregoing (collectively, the &quot;intellectual
                    property of ISPORTSRECRUITING, LLC&quot;), are owned, controlled or licensed by
                    or to ISPORTSRECRUITING, LLC, and are protected by all applicable copyright,
                    trademark and/or patent laws.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    With respect to all
                    intellectual property of ISPORTSRECRUITING, LLC and the website you may not
                    copy, reproduce, republish, download, print, post, broadcast, record, mirror,
                    transmit, commercially exploit, edit, communicate to the public or distribute
                    in any way any part of our website or the intellectual property of
                    ISPORTSRECRUITING, LLC, subject to the following exceptions:<o:p></o:p>
                </span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l5 level1 lfo7;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    1. You may download content or
                    materials to your computer or other website viewing device for the sole purpose
                    of viewing the content or materials.
                </span><span lang=EN-US style='font-size:
11.5pt;font-family:"Lato",sans-serif;mso-bidi-font-family:"Times New Roman";
color:black'><o:p></o:p></span>
            </p>

            <p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
margin-left:58.5pt;text-indent:-18.0pt;line-height:22.5pt;mso-list:l5 level1 lfo7;
tab-stops:list 36.0pt;'>
                <![if !supportLists]><span lang=EN-US
                                           style='font-size:10.0pt;mso-bidi-font-size:11.5pt;font-family:Symbol;
mso-fareast-font-family:Symbol;mso-bidi-font-family:Symbol;color:black'>
                    <span style='mso-list:Ignore'>
                        ·<span style='font:7.0pt "Times New Roman"'>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                    </span>
                </span><![endif]><span lang=EN-US style='font-size:11.5pt;
font-family:"Lato",sans-serif;color:black'>
                    2. You may print pages or portions
                    of our website for your personal use, provided that the printed materials are
                    not modified or changed in any way.<o:p></o:p>
                </span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Our
                    right to terminate your use of the website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    We reserve the right to
                    terminate, restrict or suspend your use of the ISPORTSRECRUITING, LLC website
                    at any time and without any notice to you. We also reserve the right to
                    terminate your user account if we receive multiple legitimate DMCA infringement
                    notices or if you create multiple inappropriate usernames or if you commit any
                    of the acts described in the &quot;Prohibited uses of our website&quot; section
                    of these terms and conditions.<o:p></o:p>
                </span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Third
                    Party services and products offered by ISPORTSRECRUITING, LLC<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    From time to time we may
                    offer services and products to our users through third parties. When you sign
                    up for and or use the services and products of the third parties you are
                    creating a contract with those companies and not with ISPORTSRECRUITING, LLC.
                    The terms and conditions of those third-party companies are what will govern
                    your use of their services and products. To the extent those services and
                    products are directly provided through the ISPORTSRECRUITING website they will
                    be governed by these Terms and Conditions.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    ISPORTSRECRUITING, LLC
                    does not endorse or guarantee any services and products which may be advertised
                    by third-party advertisers and/or sponsors on the ISPORTSRECRUITING, LLC
                    website. As such, you agree that ISPORTSRECRUITING, LLC has no liability in any
                    case for any damages or losses which may have been incurred as a result of your
                    dealings with the third party.<o:p></o:p>
                </span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    No
                    expectation of privacy<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Due to our need to
                    regulate and investigate the content and materials on our website the account
                    holders and users of the website should have no expectation of privacy in any
                    of the content and materials associated with their account. ISPORTSRECRUITING, LLC
                    reserves the right to access and view any content, materials and information
                    associated with your account.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Other
                    websites posting links to our website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    As a convenience to our <span class=GramE>users</span> we may from time to time provide links to other
                    relevant websites and materials, including advertisements, ('linked materials)
                    which may benefit our users. Unless we specifically state that we endorse the
                    linked materials, ISPORTSRECRUITING, LLC does not endorse the linked materials.
                    You access those linked materials at your own risk. You agree that
                    ISPORTSRECRUITING, LLC makes no warranties or representations to you regarding
                    the ownership, legality or content the linked materials. You further agree to hold
                    harmless ISPORTSRECRUITING, LLC for any liability or responsibility associated
                    with your use of any linked materials.<o:p></o:p>
                </span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Linking
                    to the website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Without the express
                    written consent of ISPORTSRECRUITING, LLC, you may not add any links to any
                    websites to our website.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Disclaimer
                    of warranties<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    ISPORTSRECRUITING, LLC
                    specifically makes no warranties that the user will be successful in being
                    recruited to play any sport at any college. The qualifications of each
                    individual user will be the only determining factors as to whether they are
                    recruited. Further, ISPORTSRECRUITING, LLC specifically states that all content
                    on our website is offered on an &quot;as is&quot; and &quot;as available&quot;
                    basis. We make no warranties or representations of any kind, implied or
                    express, regarding our website or the products, services, information and/or
                    content on our website. You further agree that your use of the
                    ISPORTSRECRUITING, LLC website is at your own risk and that ISPORTSRECRUITING,
                    LLC makes no warranties or promises regarding our website or any other linked
                    websites or advertisers.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    We will use reasonable
                    efforts to identify and correct any omissions or errors found by us or brought
                    to our attention as soon as practically possible, however we do not warrant
                    that all information, content and materials on our website will be free from
                    omissions or errors. We further do not make any warranties that any
                    descriptions or other content on the ISPORTSRECRUITING, LLC website are
                    error-free, complete, reliable or accurate.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    It is possible that
                    extenuating circumstances may require access to the website to be temporarily
                    suspended without notice to you, therefore we do not warrant that the
                    ISPORTSRECRUITING, LLC website will at all times be available to you.
                    Interruptions and access to less than the full website may from time to time
                    occur.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Limitation
                    of Liability<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    In no event shall We,
                    OUR affiliates, LICENSEES, parents, or subsidiaries be liable to YOU IN
                    CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE FOR ANY LOSSES WHICH ARE NOT
                    CURRENTLY FORESEEABLE BY US ARISING OUT OF THE TERMS AND CONDITIONS OR YOUR USE
                    OF OUR WEBSITE. WE SHALL NOT BE LIABLE FOR ANY ATTEMPTS BY YOU TO PARTICIPATE
                    IN THE USE OF OUR WEBSITE BY METHODS, MEANS OR WAYS NOT INTENDED BY US. OUR
                    LIABILITY IN TORT, CONTRACT, NEGLIGENCE, PRE-CONTRACT OR OTHER REPRESENTATIONS
                    OR OTHERWISE ARISING OUT OF OR IN CONNECTION WITH THE TERMS AND CONDITIONS
                    SHALL BE LIMITED IN AGGREGATE TO THE NET PAYMENT, IF ANY, MADE BY YOU TO US VIA
                    OUR WEBSITE. SOME JURISDICTIONS DO NOT ALLOW CERTAIN LIMITATIONS OF LIABILITY,
                    SO CERTAIN OF THE FOREGOING LIMITATIONS MAY NOT APPLY TO YOU.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Applicable
                    law<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    These Terms and
                    Conditions shall be governed by and construed under the law of the State of
                    Arizona, without regard to conflicts of laws rules. You agree that the courts
                    of Arizona shall have exclusive jurisdiction over the parties for all disputes.
                    Venue shall lie exclusively and only in the state and federal courts in
                    Phoenix, Arizona. Any action arising out of the Terms and Conditions must be
                    brought within one (1) year after the cause of action has arisen.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    California
                    Users<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Any user of this website
                    from the State of California is entitled to the following consumer rights
                    notice under California Civil Code Section 1789.3: The Complaint Assistance
                    Unit of the Division of Consumer Services of the California Department of
                    Consumer Affairs may be contacted in writing at 1625 North Market Blvd., Suite
                    N 112, Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800)
                    952-5210.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>
                    Your
                    liability for a disruption to our website<o:p></o:p>
                </span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    You agree to be
                    responsible for any and all losses, costs, expenses or liabilities
                    ISPORTSRECRUITING, LLC may incur or suffer if you cause a disruption, technical
                    or otherwise, to our website. You further agree to be liable and responsible for
                    any and all attorney's fees and costs arising out of your disruption of our
                    website. The forgoing shall be without limitation of our other venders in law
                    and equity.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>Indemnification<o:p></o:p></span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    You agree to compensate,
                    indemnify, defend, and hold harmless ISPORTSRECRUITING, LLC our officers,
                    directors, employees, agents, business partners, affiliates, distributors,
                    licensors and licensees for, from and against all claims, losses, expenses,
                    damages, costs, or demands, resulting from any claim, action, investigation,
                    demand, or proceeding arising in connection with your use of our website and
                    any violation of the Terms and Conditions.<o:p></o:p>
                </span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'><o:p>&nbsp;</o:p></span>
            </p>

            <h3 style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;
margin-left:0cm;line-height:18.0pt;'>
                <span lang=EN-US
                      style='font-size:16.5pt;font-family:"Open Sans",sans-serif;color:black'>Severance<o:p></o:p></span>
            </h3>

            <p style='margin-top:11.25pt;margin-right:0cm;margin-bottom:11.25pt;margin-left:
0cm;line-height:21.0pt;'>
                <span lang=EN-US style='font-size:
15.0pt;font-family:"Open Sans",sans-serif;color:black'>
                    Each provision of the
                    Terms and Conditions shall be construed separately and independently of each
                    other and the invalidity of any one part shall not affect the validity of any
                    other part.<o:p></o:p>
                </span>
            </p>
        </MudItem>
    </MudGrid>
</div>