<MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
    <MudItem sm="2">
        <div style="width: 132px; height: 132px; padding: 8%; background-color: black; border-radius: 50%; text-align: center; margin: auto; margin-top: 16%">
            <img style="width: 100%; transform: translate(0, 80%);" alt="logo" src="images/ISR_WHITE.png"/>
        </div>
    </MudItem>
    <MudItem sm="10">
        <div style="display: inline-block;transform: translate(0, 50%);">
            <img style="display: inline-block; width: 70%" alt="long-logo" src="images/ISR_LONG.png"/>
            <MudText Style="font-size: 22px;font-style: italic;">ADDITIONAL SERVICES</MudText>
        </div>
    </MudItem>
    <MudItem Class="m-12" sm="12" />
</MudHidden>

<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
    <MudItem sm="2" Style="width: 100%">
        <div style="width: 132px; height: 132px; padding: 8%; background-color: black; border-radius: 50%; text-align: center; margin: auto; margin-top: 16%">
            <img style="width: 100%; transform: translate(0, 80%);" alt="logo" src="images/ISR_WHITE.png"/>
        </div>
    </MudItem>
    <MudItem sm="10">
        <div style="display: inline-block;transform: translate(0, 50%);text-align: center;margin: auto;">
            <img style="display: inline-block; width: 70%" alt="long-logo" src="images/ISR_LONG.png"/>
            <MudText Style="font-size: 22px;font-style: italic;">ADDITIONAL SERVICES</MudText>
        </div>
    </MudItem>
    <MudItem Class="m-12" sm="12" />
</MudHidden>
